# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/BAEKJOON/.vs/BAEKJOON/v15
/BAEKJOON/.vs/BAEKJOON/v15/Browse.VC.db
/BAEKJOON/.vs/BAEKJOON/v15/Browse.VC.opendb
*.opendb
*.db
/BAEKJOON/.vs/BAEKJOON/v15
/BAEKJOON/BAEKJOON/x64
/BAEKJOON/BAEKJOON/Debug
/BAEKJOON/BAEKJOON/*.vcxproj.*
/BAEKJOON/BAEKJOON/*.txt

/PROGRAMMERS/.vs/PROGRAMMERS/v15
/PROGRAMMERS/.vs/PROGRAMMERS/v15/Browse.VC.db
/PROGRAMMERS/.vs/PROGRAMMERS/v15/Browse.VC.opendb
/PROGRAMMERS/PROGRAMMERS/Debug
/PROGRAMMERS/PROGRAMMERS/*.vcxproj.*

/AOJ/.vs/AOJ/v15
/AOJ/.vs/AOJ/v15/Browse.VC.db
/AOJ/.vs/AOJ/v15/Browse.VC.opendb
/AOJ/AOJ/Debug
/AOJ/AOJ/*.vcxproj.*

/.vs

/PROGRAMMERS/PROGRAMMERS/200405.cpp
/PROGRAMMERS/PROGRAMMERS/20040502.cpp
