# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db

/Problem_Solving/.vs/**/*
/Problem_Solving/**/Debug
/Problem_Solving/**/*.vcxproj.*
/Problem_Solving/**/*.txt

/.vs
